.header {
    position: relative;
    width: 100%;
    background-color: #0069d9;
    height: 60px;
}

.header-btn {
    height: 30px;
    width: 70px;
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    font-size: 14px;
    transition: .5s all;
}
.header-btn:hover {
    background-color:rgb(236, 79, 17)
}